streamlit==1.24.0
st-pages==0.2.0
streamlit-lottie==0.0.8
geemap==0.17.4
matplotlib==3.7.2
plotly==5.15.0
pandas==1.5.3
numpy==1.23.5
streamlit_echarts==0.4.0
streamlit-option-menu==0.3.2
statsmodels==0.13.5
scikit-learn==1.2.2
pmdarima==1.8.5
tensorflow==2.12.0
